/*
  Variables
*/

$headingFontFamily : 'Ubuntu', Helvetica, Arial, sans-serif;

/*
  Mixins, functions and other Sass utilities
*/

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin animationDelay($time) {
  animation-delay: $time;
  -webkit-animation-delay: $time;
  -moz-webkit-animation-delay: $time;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius:$radius;
}

@mixin box-shadow($args) {
  -moz-box-shadow: $args;
  -webkit-box-shadow: $args;
  box-shadow: $args;
}

/*
  Media queries
*/

@mixin bp-large {
  @media only screen and (max-width: 60em) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (max-width: 40em) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (max-width: 30em) {
    @content;
  }
}

/*
  Main Code
*/

* {
  -webkit-font-smoothing:antialiased;
}

html, body {
  height:100%;
  padding:0;
  margin:0;
}

body {
  background: url(../img/image1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.topHeader {
  padding:10px;
  padding-top:30px;
  padding-bottom:100px;
  background: #fff;
  @include bp-small {
    padding-bottom:30px;

  }
  @include opacity(0.90);
  img {
    max-width: 100%;
    margin:0 auto;
  }
  h1 {
    font-family: $headingFontFamily;
    color:#656D78;
    text-align: center;
    margin:0 auto;
    margin-top: calculateRem(100px);
    @include font-size(100px);
    @include bp-small {
      margin-top: 0;
      @include font-size(60px);
    }
  }
  p {
    text-align: center;
    color:#AAB2BD;
    @include font-size(30px);
    @include bp-small {
      @include font-size(15px);

    }
  }
}

.betaButton {
  padding: 10px 20px;
  color: #656D78;
  font-family: $headingFontFamily;
  text-shadow:none;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  border:none;
  display: table;
  margin:0 auto;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
  @include animationDelay(2s);
  @include border-radius(3px);
  &:hover {
    background: #CCD1D9 !important;
    color: #656D78;
  }
  @include bp-medium {
    padding:20px;
  }
  i {
    @include font-size(30px);
    margin-right: calculateRem(10px);
    @include bp-medium {
      @include font-size(20px);
    }
  }

}
.or {
  text-align: center;
  margin: 10px auto;
  padding:10px 30px;
  border-top:2px solid rgba(255,255,255,0.2);
  border-bottom:2px solid rgba(255,255,255,0.2);
  color:#fff;
  display: table;
  @include font-size(50px);
}
.referButton {
  background: #434A54;
  padding: calculateRem(20px);
  color: #fff;
  width:100%;
  text-align: center;
  text-shadow:none;
  -webkit-text-shadow:none;
  -moz-text-shadow:none;
  border:none;
  display: table;
  margin:0 auto;
  @include border-radius(3px);
  &:hover {
    color:#fff;
    background: rgba(218,68,83, 0.5);
  }
  i {
    margin-right: calculateRem(10px);
  }

}
.scrollIconContainer {
  position: absolute;
  bottom:10px;
  left:0;
  right:0;
  @include bp-medium {
    display: none;
  }
}
.scrollIcon {
  color:rgba(255,255,255,0.3);
  position: relative;
  display: table;
  margin:1px auto;
  @include font-size(50px);
  @include animationDelay(3s);
}
.mainContentBefore {

  background: -webkit-linear-gradient(90deg, #AA076B 10%, #61045F 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #AA076B 10%, #61045F 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #AA076B 10%, #61045F 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #AA076B 10%, #61045F 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #AA076B 10%, #61045F 90%); /* W3C */

}
.mainContent {
  background: rgba(215,163,162, 0.7);
  @include opacity(0.9);
  .tile {
    background: #f5f7fa;
    padding:50px 0;
    border:5px solid #fff;
  }
  .devices {
    padding:20px 0;
    width: auto;
    display: table;
    margin:0 auto;
    .marvel-device {
      display:inline-block;
    }
  }
  .marvel-device {
    margin:0 auto;
    display: table;
    @include bp-small {
      width:250px !important;
      height:576px !important;
      margin-top:20px;
    }
    &.s5 {
      height:624px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
    }
    &.iphone5s {
      height:700px;
      box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
      -webkit-box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
      margin-left:20px;
    }
  }
  .callToAction {
    background: rgba(0,0,0,0.4);
    padding:20px;
    border-radius: 3px;
  }
  .row {
    padding:0;
  }
  &.secondaryContent {
    background: rgba(127,189,224, 0.7);
  }
  &.thirdContent {
    background: rgba(143,231,201, 0.7);
  }
  &.demoContent {
    background: rgba(67,74,84, 0.9);
    @include opacity(1);
    padding:30px 10px;
    .betaButton {
      color:#fff;
    }
  }
}

.mainInfo {
  padding:50px 10px;
  min-height: 100%;
  text-align: center;
  .contentIcon {
    text-align: center;
    color:#fff;
    @include font-size(80px);
  }
  .title {
    color:#fff;
    margin-top: 20px;
  }
  &.lefty {
    background: rgba(0,0,0,0.1);
  }
}
.desc {
  padding:10px;
  color:rgba(255,255,255,0.5);
  font-family: $headingFontFamily;
}
.faq {
  background: #656D78;
  padding:calculateRem(30px) calculateRem(10px);
  h2 {
    font-family: $headingFontFamily;
    color:#656D78;
    @include font-size(50px);
  }
  p {
    color:#AAB2BD;
    @include font-size(20px);
  }
  a {
    color:#fff !important;
  }
  a:hover {
    background: none;
    color:#fff;
  }
}

.screenShotSlider {
  width:100%;
  position: absolute;
}

.topMenu {
  list-style: none;
  padding: calculateRem(10px) 0;
  &.floatRight {
    direction: rtl;
    li {
      direction: ltr;
    }
    @include bp-medium {
      direction: ltr;
      display: none;
    }
  }
  li {
    display: inline-block;
    margin-right:30px;
    a {
      color:#AAB2BD;
      &.active {
        color:#656D78;
      }
      i {
        @include font-size(18px);
      }
      &:hover {
        color:#656D78;
      }
    }
    @include bp-small {
      i {
        @include font-size(14px);
      }
    }
  }
}

.bottomFooter {
  background: #434A54;
  padding:calculateRem(20px) 0;
  p {
    color:#Fff;
    text-align: center;
  }
}

@include bp-small {
  #iphone5s.silver .device {
    width:260px;
    height:594px !important;
  }
}

/*
  Shared Classes and utilities
*/



/*
  Foundation and other frameworks modifications
*/

.slick-prev, .slick-next {
  display:none !important;
}
.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  display: block;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0.5);
}
.accordion .accordion-navigation > a, .accordion dd > a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  color: #FFF;
  margin: 10px auto;
  padding: 1rem;
  display: block;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a, .accordion dd a:hover  {
  background: rgba(255, 255, 255, 0.2);
}
.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: rgba(255, 255, 255, 0.2);
}